*Release+Asserts/
*Debug+Asserts/
*Release/
*Debug/
autoconf/aclocal.m4
autoconf/autom4te.cache
eval/*bc
eval/*pts
eval/*log
eval/*ac
eval/*inst
Makefile.common
*.swp
config.log
config.status
*.bc
*.ll
*.d
*.pts
*.vid
*.iid
*.dot
*.ps
*.png
*.inst
